:root {
  --color-fondo-header: #853535; /* Rojo oscuro */
  --color-fondo-footer: #cecece; /* Gris claro */
  --color-texto-claro: #ffffff; /* Blanco */
  --color-acento: #c21e2c; /* Rojo intenso */
  --color-link-hover: #ff6b6b; /* Rojo más claro al pasar el mouse */
}

/* --- Layout base para toda la página --- */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Main content que empuja el footer abajo */
main {
  flex: 1;
}

/* --- Header --- */
.header-bg {
  background-color: var(--color-fondo-header);
}

.header-text {
  color: var(--color-texto-claro);
}

.header-link {
  color: var(--color-texto-claro);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.header-link:hover {
  color: var(--color-link-hover);
}

/* Centrar nav y distribuir enlaces con espacio uniforme */
header nav {
  display: flex;
  justify-content: center;
  gap: 2rem; /* espacio entre enlaces */
}

/* --- Footer --- */
.footer-bg {
  background-color: var(--color-fondo-footer);
}

.footer-text {
  color: var(--color-texto-claro);
  font-weight: 400;
}

.footer-acento {
  color: var(--color-acento);
  font-weight: 600;
}
